#slider {
  position: relative;
  padding-top: 41.357142857142857142857142857143%;
  background: #8a867f;
}

@media only screen and (max-width: 940px) {
  #slider {
    padding-top: 360px;
  }
}

.camera_wrap { 
  position: absolute;
  margin-bottom: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  z-index: 0;
}
/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
    line-height:0;
}
.camera_wrap {
	display: none;
	float: none;
	z-index: 1;
	margin: 0 !important;
}
.camera_wrap img {
	max-width: none !important;
    overflow: hidden;
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	/*z-index: 1;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width:100%;
    text-align: left;
	/*z-index: 1;*/
    display: inline-block;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
    text-align: center;
	right: 0;
	top: 0;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	background:#efede0 url(../img/camera-loader.gif) no-repeat center;
	height: 36px;
    width: 36px;
    top: 50%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	z-index: 3;
    border-radius:36px;
}
.camera_loader img {
    border-radius:36px;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
	position: relative;
    z-index:0;
    top: 0;
    overflow:hidden;
    min-height:450px;
}
.camera_pag {
	position: absolute;
	z-index: 10;
	bottom:20px;
    left:0;
    width: 100%;
	padding:0;
    text-align: center;
	display:block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.camera_pag ul {
    text-align: center;
}
.camera-caption {
	position: absolute;
	top:20%;
    width:100%;
	display: block;
    padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-align:center;
}
.camera-caption .title {
    font:900 100px/130px 'Lato';
    color:#fff;
    letter-spacing:-1px;
    margin-bottom:0;
}
.camera_prev span, .camera_next span{
	position: absolute;
	display: block;
	width:40px;
	height:56px;
	bottom:10%;
	cursor: pointer;
	z-index: 1000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.camera_prev span{
	left:50%;
    margin-left: -40px;
	background:red;
}
.camera_prev span:hover {
    background:red;
    opacity:1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.camera_next span{
	right:50%;
    margin-right: -40px;
	background:blue;
}
.camera_next span:hover {
    background:blue;
    opacity:1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.camera_pag_ul {
    display: inline-block;
    margin:0 0 0 -16px;
}
.camera_pag_ul li {
    float:left;
}
.camera_pag_ul li:first-child {
    margin-left:0;
}
.camera_pag_ul li > span {
	cursor: pointer;
	display: block;
	overflow: hidden;
	background: transparent;
    border-radius:0;
    font-size: 80px;
    font-family: serif;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
}
.camera_pag_ul li > span:before {
	content: "\f111";
	font-family: "FontAwesome";
	font-size: 7px;
	width: 12px;
	height: 15px;
	display: block;
	line-height: 15px;
}
.camera_pag_ul li > span > span {
}
.camera_pag_ul li.cameracurrent span:before, .camera_pag_ul li:hover span:before {
    -webkit-transition: all 0.25s ease; 
    transition: all 0.25s ease;
    color: #9eb2c0;
}
.camera_caption {
	position: relative;
	height: 100%;
}
.camera_caption > div {
	position: relative;
	text-align: center;
	top: 40%;
}
.camera_caption .with-border {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding-bottom: 55px;
}
.camera_caption h2 {
	color: #fff;
	font: 700 54px/54px 'Open Sans', sans-serif;
	margin: -8px 0 15px 0;
}
.camera_caption p {
	color: #fff;
	font: 900 72px/72px 'Open Sans', sans-serif;
	text-align: left;
	text-transform: uppercase;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1199px) { 
	.camera_caption > div { top: 75px !important; }
}
@media (min-width: 992px) and (max-width: 1219px){
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	.camera_caption p {
	    font-size: 55px;
	    line-height:55px;
	}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
	.camera_caption p {
	    font-size: 40px;
	    line-height:1em;
	}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
	.camera_caption p {
	    font-size: 30px;
	    line-height:1em;
	}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
	.camera_caption p {
	    font-size: 25px;
	    line-height:1em;
	    margin-top: 30px;
	}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}
